<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skyevent">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".budget"></activity>
        <activity android:name=".event_info" />
        <activity
            android:name=".guest_info"
            android:label="Guest"
            android:parentActivityName=".home" />
        <activity
            android:name=".task_info"
            android:label="Task"
            android:parentActivityName=".home" />
        <activity
            android:name=".addevent"
            android:label="Event" />
        <activity
            android:name=".guest"
            android:label="Guest"
            android:parentActivityName=".home" />
        <activity
            android:name=".budget_info"
            android:label="Budget" />
        <activity
            android:name=".task"
            android:label="Task"
            android:parentActivityName=".home" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".home"
            android:label="Home" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>